  body {
    background-color: #f4f7fb;
  }

  .topbar {
    height: 80px;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.318);
    display: flex;
    align-items: center;
    padding: 0 40px;
    top: 0;
    z-index: 5;
  }

  .mainSection {
    margin: 30px auto;

    .create-order-btn {
      background-color: #fbfcfe;
      color: #4f46e5;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: .04em;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .mainLayout {
    display: flex;
    gap: 30px;
  }

  .error {
    color: red;
  }

  .lastOrder {
    font-family: monospace;
    font-size: 12px;
    margin-top: 15px;
  }
